USE [master]
GO
/****** Object:  Database [QLCHLapTop]    Script Date: 07/02/2021 11:55:28 CH ******/
CREATE DATABASE [QLCHLapTop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCHLapTop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLCHLapTop.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCHLapTop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLCHLapTop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCHLapTop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCHLapTop]
GO
/****** Object:  Table [dbo].[BienLaiTG]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienLaiTG](
	[MaBienLai] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayLap] [date] NULL,
	[MaTG] [nvarchar](50) NULL,
	[SoTien] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_BienLaiTG] PRIMARY KEY CLUSTERED 
(
	[MaBienLai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaMay] [nvarchar](50) NOT NULL,
	[TenMay] [nvarchar](50) NULL,
	[SoLuongSP] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[KM] [nvarchar](50) NULL,
	[ThanhTien] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPhieuBH]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuBH](
	[MaBH] [nvarchar](50) NOT NULL,
	[MaMay] [nvarchar](50) NOT NULL,
	[TenMay] [nvarchar](50) NULL,
	[ThoiGianBH] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[MaPN] [nvarchar](50) NOT NULL,
	[MaMay] [nvarchar](50) NOT NULL,
	[TenMay] [nvarchar](50) NULL,
	[SoLuong] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[NgayBan] [date] NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ID]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[MaNV] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_ID_1] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SDTKH] [int] NULL,
	[DiaChiKH] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LapTop]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LapTop](
	[MaMay] [nvarchar](50) NOT NULL,
	[TenMay] [nvarchar](50) NULL,
	[GiaNhap] [int] NULL,
	[GiaBan] [int] NULL,
	[Hang] [nvarchar](50) NULL,
	[NamSX] [int] NULL,
	[MauSac] [nvarchar](50) NULL,
	[BaoHanh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](500) NULL,
	[SoLuong] [int] NULL,
	[imgSP] [image] NULL,
 CONSTRAINT [PK_LapTop_1] PRIMARY KEY CLUSTERED 
(
	[MaMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[SDTNCC] [int] NULL,
	[DiaChiNCC] [nvarchar](100) NULL,
 CONSTRAINT [PK_NhaCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuBH]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBH](
	[MaBH] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[NgayLap] [date] NULL,
 CONSTRAINT [PK_PhieuBH] PRIMARY KEY CLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [nvarchar](50) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuTGBH]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTGBH](
	[MaTGBH] [nvarchar](50) NOT NULL,
	[MaBH] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DichVu] [nvarchar](500) NULL,
	[NgayTG] [date] NULL,
 CONSTRAINT [PK_PhieuTGBH] PRIMARY KEY CLUSTERED 
(
	[MaTGBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhuKien]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuKien](
	[MaPK] [nvarchar](50) NOT NULL,
	[TenPK] [nvarchar](50) NULL,
	[HangSX] [nvarchar](50) NULL,
	[NamSX] [int] NULL,
	[MauSac] [nvarchar](50) NULL,
	[Gia] [int] NULL,
	[BaoHanh] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[imgPK] [image] NULL,
 CONSTRAINT [PK_PhuKien] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TraGop]    Script Date: 07/02/2021 11:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraGop](
	[MaTG] [nvarchar](50) NOT NULL,
	[MaHD] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[CMT] [int] NULL,
	[MaNV] [nvarchar](50) NULL,
	[DichVu] [nvarchar](50) NULL,
	[NgayLap] [date] NULL,
	[TraTruoc] [int] NULL,
	[HanTra] [date] NULL,
	[LaiXuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_TraGop] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHoaDon] ([MaHD], [MaMay], [TenMay], [SoLuongSP], [DonGia], [KM], [ThanhTien]) VALUES (N'HD01', N'MM02', N'Dell G7', N'1', 30000000, N'0', 0)
INSERT [dbo].[CTHoaDon] ([MaHD], [MaMay], [TenMay], [SoLuongSP], [DonGia], [KM], [ThanhTien]) VALUES (N'HD02', N'MM02', N'Dell G7', N'1', 30000000, N'0', 0)
INSERT [dbo].[CTHoaDon] ([MaHD], [MaMay], [TenMay], [SoLuongSP], [DonGia], [KM], [ThanhTien]) VALUES (N'HD03', N'MM03', N'Dell xps 13', N'2', 30000000, N'0', 30000000)
INSERT [dbo].[CTPhieuBH] ([MaBH], [MaMay], [TenMay], [ThoiGianBH]) VALUES (N'BH01', N'MM03', N'Dell xps 13', N'3 nam')
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaMay], [TenMay], [SoLuong]) VALUES (N'PN02', N'MM02', N'Dell G7', 2)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaMay], [TenMay], [SoLuong]) VALUES (N'PN10', N'MM02', N'Dell G7', 2)
INSERT [dbo].[CTPhieuNhap] ([MaPN], [MaMay], [TenMay], [SoLuong]) VALUES (N'PN10', N'MM03', N'Dell xps 13', 1)
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [MaKH], [MaNV], [TongTien]) VALUES (N'HD01', CAST(0x33410B00 AS Date), N'KH01', N'NV01', 25000000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [MaKH], [MaNV], [TongTien]) VALUES (N'HD02', CAST(0x33410B00 AS Date), N'KH01', N'NV01', 30000000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayBan], [MaKH], [MaNV], [TongTien]) VALUES (N'HD03', CAST(0x33410B00 AS Date), N'KH01', N'NV02', 27000000)
INSERT [dbo].[ID] ([TaiKhoan], [MatKhau], [MaNV], [Quyen]) VALUES (N'admin', N'123', N'NV01', N'admin')
INSERT [dbo].[ID] ([TaiKhoan], [MatKhau], [MaNV], [Quyen]) VALUES (N'thetruong', N'123', N'NV02', N'user')
INSERT [dbo].[ID] ([TaiKhoan], [MatKhau], [MaNV], [Quyen]) VALUES (N'thetruongx', N'123', N'NV02', N'kho')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDTKH], [DiaChiKH]) VALUES (N'KH01', N'Nguyễn Văn A', 19008198, N'Bắc Ninh')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDTKH], [DiaChiKH]) VALUES (N'KH02', N'Bùi Công B', 19008199, N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDTKH], [DiaChiKH]) VALUES (N'KH03', N'Trịnh Công C', 19008199, N'Nam ĐỊnh')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [SDTNCC], [DiaChiNCC]) VALUES (N'CC01', N'fpt software', 19008198, N'17 Duy Tân- Dịch Vọng-Ha Noi')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [SDTNCC], [DiaChiNCC]) VALUES (N'CC02', N'viettel software', 19008198, N'17 Tran Quoc Thao- Quan 3- HCM')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [SDTNCC], [DiaChiNCC]) VALUES (N'CC03', N'vnpt software', 19008198, N'57 Huynh Thuc Khang - Dong Da - Ha Noi')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [SDT], [Email], [GioiTinh]) VALUES (N'NV01', N'Nguyễn Thế Vân', N'Bắc Ninh', 394166076, N'thevan3105@gmail.com', N'nam')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [SDT], [Email], [GioiTinh]) VALUES (N'NV02', N'Nguyễn Thế Trường', N'Bắc Ninh', 123456789, N'thetruong123@gmail.com', N'nam')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [SDT], [Email], [GioiTinh]) VALUES (N'NV03', N'Trần Văn Sơn', N'Hà Nội', 394774889, N'vanson@gmail.com', N'nam')
INSERT [dbo].[PhieuBH] ([MaBH], [MaKH], [NgayLap]) VALUES (N'BH01', N'KH02', CAST(0x35410B00 AS Date))
INSERT [dbo].[PhieuBH] ([MaBH], [MaKH], [NgayLap]) VALUES (N'BH02', N'KH01', CAST(0x41410B00 AS Date))
INSERT [dbo].[PhieuBH] ([MaBH], [MaKH], [NgayLap]) VALUES (N'BH05', N'KH01', CAST(0x41410B00 AS Date))
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC]) VALUES (N'PN01', CAST(0x33410B00 AS Date), N'CC01')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC]) VALUES (N'PN02', CAST(0x33410B00 AS Date), N'CC02')
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC]) VALUES (N'PN03', CAST(0x33410B00 AS Date), N'CC02')
INSERT [dbo].[TraGop] ([MaTG], [MaHD], [MaKH], [CMT], [MaNV], [DichVu], [NgayLap], [TraTruoc], [HanTra], [LaiXuat]) VALUES (N'TG01', N'HD01', N'KH01', 123456789, N'NV01', N'FECredit', CAST(0xE4410B00 AS Date), 2000000, CAST(0xE4410B00 AS Date), N'0')
INSERT [dbo].[TraGop] ([MaTG], [MaHD], [MaKH], [CMT], [MaNV], [DichVu], [NgayLap], [TraTruoc], [HanTra], [LaiXuat]) VALUES (N'TG02', N'HD02', N'KH01', 123456789, N'NV01', N'HDSaiSon', CAST(0xE4410B00 AS Date), 3000000, CAST(0xE4410B00 AS Date), N'0')
INSERT [dbo].[TraGop] ([MaTG], [MaHD], [MaKH], [CMT], [MaNV], [DichVu], [NgayLap], [TraTruoc], [HanTra], [LaiXuat]) VALUES (N'TG03', N'HD03', N'KH01', 123456798, N'NV01', N'HomeCredit', CAST(0xE4410B00 AS Date), 3000000, CAST(0xE4410B00 AS Date), N'0')
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TraGop]    Script Date: 07/02/2021 11:55:28 CH ******/
ALTER TABLE [dbo].[TraGop] ADD  CONSTRAINT [IX_TraGop] UNIQUE NONCLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BienLaiTG]  WITH CHECK ADD  CONSTRAINT [FK_BienLaiTG_TraGop1] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TraGop] ([MaTG])
GO
ALTER TABLE [dbo].[BienLaiTG] CHECK CONSTRAINT [FK_BienLaiTG_TraGop1]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDon_HoaDon1] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDon_HoaDon1]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDon_LapTop] FOREIGN KEY([MaMay])
REFERENCES [dbo].[LapTop] ([MaMay])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDon_LapTop]
GO
ALTER TABLE [dbo].[CTPhieuBH]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuBH_LapTop] FOREIGN KEY([MaMay])
REFERENCES [dbo].[LapTop] ([MaMay])
GO
ALTER TABLE [dbo].[CTPhieuBH] CHECK CONSTRAINT [FK_CTPhieuBH_LapTop]
GO
ALTER TABLE [dbo].[CTPhieuBH]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuBH_PhieuBH] FOREIGN KEY([MaBH])
REFERENCES [dbo].[PhieuBH] ([MaBH])
GO
ALTER TABLE [dbo].[CTPhieuBH] CHECK CONSTRAINT [FK_CTPhieuBH_PhieuBH]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_LapTop] FOREIGN KEY([MaMay])
REFERENCES [dbo].[LapTop] ([MaMay])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_LapTop]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[ID]  WITH CHECK ADD  CONSTRAINT [FK_ID_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ID] CHECK CONSTRAINT [FK_ID_NhanVien]
GO
ALTER TABLE [dbo].[PhieuBH]  WITH CHECK ADD  CONSTRAINT [FK_PhieuBH_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuBH] CHECK CONSTRAINT [FK_PhieuBH_KhachHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCC]
GO
ALTER TABLE [dbo].[PhieuTGBH]  WITH CHECK ADD  CONSTRAINT [FK_PhieuTGBH_PhieuBH] FOREIGN KEY([MaBH])
REFERENCES [dbo].[PhieuBH] ([MaBH])
GO
ALTER TABLE [dbo].[PhieuTGBH] CHECK CONSTRAINT [FK_PhieuTGBH_PhieuBH]
GO
ALTER TABLE [dbo].[TraGop]  WITH CHECK ADD  CONSTRAINT [FK_TraGop_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[TraGop] CHECK CONSTRAINT [FK_TraGop_HoaDon]
GO
ALTER TABLE [dbo].[TraGop]  WITH CHECK ADD  CONSTRAINT [FK_TraGop_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[TraGop] CHECK CONSTRAINT [FK_TraGop_KhachHang]
GO
ALTER TABLE [dbo].[TraGop]  WITH CHECK ADD  CONSTRAINT [FK_TraGop_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TraGop] CHECK CONSTRAINT [FK_TraGop_NhanVien]
GO
USE [master]
GO
